@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Lato", "serif";
    margin: 0;
    padding: 0;
}

/* shared section  */
.btn{
    width: 177px;
    height: 64px;
    padding: 20px 43px 20px 43px;
    border: none;
    border-radius: 8px;
    color: white;
    background: rgb(229, 84, 115);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.btn:hover{
    border: 0.5px solid rgb(229, 84, 115);
    color: rgb(229, 84, 115);
    background: white;
}

/* header section  */
header{
    padding: 50px 240px 0 240px;
    background: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.head-container{
    max-width: 710px;
}
.head-title{
    color: rgb(39, 39, 39);
    font-size: 5rem;
    font-weight: 800;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 200px;
}
.head-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin: 35px 0;
}

/* feature section  */
.feature{
    padding: 150px 240px 50px 240px;
    text-align: center;
}
.feature-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature-title{
    color: rgb(39, 39, 39);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
}
.feature-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 1.rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin: 24px 0 48px 0px;
    max-width: 600px;
}
.feature-cards{
    display: flex;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.card .card-title{
    color: rgb(39, 39, 39);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-decoration-line: underline;
    cursor: pointer;
}
.card1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.card1 img{
    position: relative;
    top: 110px;
}
.card2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.card2 img{
    position: relative;
    top: 100px;
}
.card3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.card3 img{
    position: relative;
    top: 67px;
}

/* service section */
.service{
    margin: 128px 240px;
    padding: 86px 175px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
}
.service h6{
    color: rgba(39, 39, 39, 0.8);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0%;
    margin-top: 25px;
}

/* hot deal section */
.hot-deal{
    margin-bottom: 100px;
    padding: 100px 400px;
    border: none;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.hot-deal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hot-deal-container h2{
    color: rgb(39, 39, 39);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
}
.hot-deal-container h2 span{
    color: rgb(229, 84, 115);
}
.hot-deal-container p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin: 30px 0;
}

/* insta section */
.insta{
    margin: 128px 240px;
    text-align: center;
}
.insta-title{
    color: rgb(39, 39, 39);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
}
.insta-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin: 24px 0 48px 0;
}
.insta-imgs{
    display: flex;
    gap: 24px;
}
.insta-imgs img{
    width: 100%;
}

/* latest-deal section */
.latest-deal{
    margin: 128px 240px;
    padding: 122px 287px;
    text-align: center;
    border-radius: 8px;
    background: url("../Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
}
.latest-deal-title{
    color: rgb(39, 39, 39);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
}
.latest-deal-description{
    color: rgba(39, 39, 39, 0.6);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin-top: 16px;
    margin-bottom: 48px;
}
form{
    display: flex;
    gap: 16px;
}

#email{
    height: 64px;
    width: 700px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding-left: 22px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 449px;
    color: white;
    background-color: black;
    padding: 128px 0;
}
.footer-title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0%;
}
.footer-title span{
    color: rgb(229, 84, 115);
}
.footer-des{
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin-top: 24px;
    margin-bottom: 32px;
    max-width: 625px;
}
.footer-rights{
    color: rgba(255, 255, 255, 0.4);
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
}

/* for mobile device */
@media screen and (max-width: 576px) {
    header{
        padding: 10px;
        flex-direction: column-reverse;
        gap: 50px;
        text-align: center;
    }
    .head-title{
        margin-top: 20px;
        text-align: center;
    }
    .head-img img{
        position: relative;
        width: 100%;
        padding-bottom: 0;
    }
    .feature{
        margin-top: 50px;
        padding: 0px;
    }
    .feature-cards{
        flex-direction: column;
        gap: 30px;
        margin: 5px;
    }
    .service{
        margin: 0px;
        padding: 50px 20px;
        flex-direction: column;
        gap: 100px;
    }
    .service h6{
        margin-top: 15px;
    }
    .hot-deal{
        margin-top: 0px;
        padding: 10px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 50px;
    }
    .insta{
        margin: 10px;
    }
    .insta-imgs{
        flex-direction: column;
    }
    .latest-deal{
        margin: 10px;
        padding: 10px;
    }
    form{
        flex-direction: column;
        align-items: center;
    }
    #email{
        width: 400px;
    }
    form button{
        position: relative;
    }
    footer{
        padding: 20px;
    }
}